<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
<h1>Stars will eventually go here</h1>
  <% stars.forEach( el => { %>
    <p><%= el.starname %></p>
    <p><%= el.appmag %></p>
    <p><%= el.absmag %></p>
    <p><%= el.bv %></p>
    <p><%= el.radius %></p>
  <% }) %>
</body>
</html>
